body {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1, h2 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    justify-self: unset;
}

.details h2 {
    text-align: center;
}

.bookingList {
    font-size: 1.5rem;
}

.bookingList h2{
    font-size: 2.5rem;
}

.details {
    display: flex;
    justify-content: space-evenly;
}

.venueList, .bandList {
    font-size: 2rem;
    padding: 0 2rem;
    border: 2px dotted darkblue;
}
